@font-face {
    font-family: "AKONY";
    src: url('../fonts/AKONY.woff2') format("woff2");
}
*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    font-style: none;
    user-select: none;
    border: 0;
    font-family: "AKONY";
}
.header{
    width: 100vw;
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
}
.header__logo{
    position: absolute;
    right: 10vw;
    top: 4vh;
}
.main{
    min-height: 100vh;
    gap: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.main__btn{
    color: #2b2a29;
    font-size: 22px;
    padding: 15px 30px;
    padding-bottom: 10px;
    border-radius: 25px;
    background: none;
}
.main__btn__red{
    color: #d41b20;
}
.footer{
    width: 100vw;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: -2;
}